<h1 style="text-align: center;margin-top: 10px; margin-bottom: 10px;">Add Product</h1>
<div class="container" style="padding-top: 20px;">
  <form [formGroup]="addForm" (ngSubmit)="onSubmit()">

    <div class="form-group">
      <div class="row">
        <div class="col-6">
          <label for="name">Product Name:</label>
          <input type="text" formControlName="name" placeholder="Product Name" name="name" class="form-control"
            id="name">
        </div>
        <div class="col-6">
          <label for="category">Category:</label>
          <select class="form-control">
            <option value="-1">Please select</option>
            <option [value]="item.id" *ngFor="let item of categories">{{item.name}}</option>
          </select>
        </div>

        <div class="col-6">
          <label for="quantity">Quantity:</label>
          <input type="text" formControlName="name" placeholder="Quantity" name="name" class="form-control" id="name">
        </div>
        <div class="col-6">
          <label for="price">Price:</label>
          <input type="text" formControlName="name" placeholder="Price" name="price" class="form-control" id="name">
        </div>

        <div class="col-12">
          <label for="product-description">Product Description:</label>
          <textarea id="product-description" class="form-control" placeholder="Product description here"
            name="product-description" rows="10"></textarea>
        </div>

        <div class="col-12">
          <label for="image">Image:</label>
          <div class="custom-file">
            <input #file type="file" class="custom-file-input" id="inputGroupFile01"
              aria-describedby="inputGroupFileAddon01" (change)="preview(file.files)">
            <label class="custom-file-label" for="inputGroupFile01">{{imagePath}}</label>
          </div>
          <img [src]="imgURL" height="300px" accept='image/*' *ngIf="imgURL" style="margin-top: 10px;">
        </div>
      </div>
    </div>

    <div class="row" style="padding-bottom: 20px;">
      <div class="col-md-6" style="display: flex; justify-content: center;">
        <button class="btn btn-success" style="width: 150px;">Add new</button>
      </div>
      <div class="col-md-6" style="display: flex; justify-content: center;">
        <div class="btn btn-danger" style="width: 150px;" (click)="goBack();">Back</div>
      </div>
    </div>

  </form>
</div>