<h1 style="text-align: center;margin-top: 10px; margin-bottom: 10px;">Dashboard</h1>
<div class="container">
  <div class="row">
    <div class="col-md-3" style="border: 1px solid #7fc3ff; border-right: none;">
      <p style="font-size: larger;">Month Summary</p>
      <div class="row">
        <div class="col-md-3">
          <mat-icon style="color: #4680fe; font-size: 50px;">payment</mat-icon>
        </div>
        <div class="col-md-9">
          <p style="font-size: large; margin: 0;">Total Income</p>
          <p style="font-size: 25px; margin: 0;color: #2568f8;">2.000.000 đ</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <mat-icon style="color: #4680fe; font-size: 50px;">inbox</mat-icon>
        </div>
        <div class="col-md-9">
          <p style="font-size: large; margin: 0;">Total Orders</p>
          <p style="font-size: 25px; margin: 0; color: #2568f8;">32</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <mat-icon style="color: #4680fe; font-size: 50px;">person</mat-icon>
        </div>
        <div class="col-md-9">
          <p style="font-size: large; margin: 0;">New Customer</p>
          <p style="font-size: 25px; margin: 0;color: #2568f8;">6</p>
        </div>
      </div>
    </div>
    <div class="col-md-9" style="border: 1px solid #7fc3ff;">
      <p style="font-size: larger; margin: 0;">Orders</p>
      <div class="row">
        <div class="box-wrapper col-md-6 ">
          <a href="">
            <div class="box">
              <div class="row">
                <div class="col-md-4">
                  <p style="font-size: 40px; margin: 0;">11</p>
                </div>
                <div class="col-md-8" style="align-items: flex-end;">
                  <mat-icon style="color: #4680fe; font-size: 30px;">payments</mat-icon>
                  <p style="margin: 0px;">Pending Orders</p>
                </div>
              </div>

            </div>
          </a>
        </div>
        <div class="box-wrapper col-md-6 ">
          <a href="">
            <div class="box">
              <div class="row">
                <div class="col-md-4">
                  <p style="font-size: 40px; margin: 0;">3</p>
                </div>
                <div class="col-md-8" style="align-items: flex-end;">
                  <mat-icon style="color: #4680fe; font-size: 30px;">move_to_inbox</mat-icon>
                  <p style="margin: 0px;">Packaging</p>
                </div>
              </div>

            </div>
          </a>
        </div>
        <div class="box-wrapper col-md-6 ">
          <a href="">
            <div class="box">
              <div class="row">
                <div class="col-md-4">
                  <p style="font-size: 40px; margin: 0;">7</p>
                </div>
                <div class="col-md-8" style="align-items: flex-end;">
                  <mat-icon style="color: #4680fe; font-size: 30px;">local_shipping</mat-icon>
                  <p style="margin: 0px;">Shipping</p>
                </div>
              </div>

            </div>
          </a>
        </div>
        <div class="box-wrapper col-md-6 ">
          <a href="">
            <div class="box">
              <div class="row">
                <div class="col-md-4">
                  <p style="font-size: 40px; margin: 0;">20</p>
                </div>
                <div class="col-md-8" style="align-items: flex-end;">
                  <mat-icon style="color: #4680fe; font-size: 30px;">check_circle</mat-icon>
                  <p style="margin: 0px;">Completed</p>
                </div>
              </div>

            </div>
          </a>
        </div>
      </div>

    </div>
  </div>

</div>
