<h1 style="text-align: center;margin-top: 10px; margin-bottom: 10px;">Change Password</h1>
<div class="container" style="padding-top: 20px;">
    <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <div class="row">
        <div class="col-12">
          <label for="username">User Name:</label>
          <input type="text" placeholder="User Name" name="name" class="form-control"
            id="username" disabled>
        </div>
        <div class="col-12">
          <label for="oldPassword">Password:</label>
          <input type="password" placeholder="Old Password" name="name" class="form-control"
            id="oldPassword">
        </div>
        <div class="col-12">
          <label for="password">Password:</label>
          <input type="password" placeholder="Password" name="name" class="form-control"
            id="password">
        </div>
        <div class="col-12">
          <label for="confirmPW">Confirm Password:</label>
          <input type="password" placeholder="Confirm Password" name="name" class="form-control"
            id="confirmPW">
        </div>
        <div class="col-12">
          <label for="role">Role:</label>
          <select class="form-control">
            <option value="-1">Please select</option>
            <option [value]="role.id" *ngFor="let role of roles">{{role.roleName}}</option>
          </select>
        </div>
      </div>
    </div>

    <div class="row" style="padding-bottom: 20px;">
      <div class="col-md-6" style="display: flex; justify-content: center;">
        <button class="btn btn-success" style="width: 150px;">Add new</button>
      </div>
      <div class="col-md-6" style="display: flex; justify-content: center;">
        <div class="btn btn-danger" style="width: 150px;" (click)="goBack();">Back</div>
      </div>
    </div>

  </form>
</div>